@page "/criarleilao"
@inject NavigationManager NavigationManager
@using Controllers
@inject ILeilaoController leilaoController

<style>
    .form-box{
        background-color: #12232e;
    }
</style>

<PageTitle>Detalhes do Veículo</PageTitle>

<div class="text-white">
    <div class="font-bold dark:bg-gray-800 p-4 px-16 mb-8">
       <div class="text-4xl gap-4">New Auction</div>
    </div>

    <EditForm Model="@veiculoLeilao" OnValidSubmit="Criar">

        <div class="items-center justify-center p-8">
            <div class="grid grid-cols-2 min-h-screen space-x-8 inline-block mb-8">

                <div class="dark:bg-gray-800 mb-8 p-4 px-4">

                    <div class="text-xl underline mb-4">Car Details</div>

                    <div class="form-group mb-4">
                        <label for="titulo" class="block text-sm font-semibold text-gray-600">ID</label>
                            <InputNumber class="text-white w-full px-4 py-2 border rounded-md focus:outline-none
                        focus:border-blue-500 form-box" @bind-Value="veiculoLeilao.Id" />
                            <ValidationMessage For="@(()=>veiculoLeilao.Id)"/>
                    </div>

                    <div class="form-group mb-4">
                        <label for="titulo" class="block text-sm font-semibold text-gray-600">Title</label>
                            <InputText class="text-white w-full px-4 py-2 border rounded-md focus:outline-none
                        focus:border-blue-500 form-box" @bind-Value="veiculoLeilao.Titulo" />
                            <ValidationMessage For="@(()=>veiculoLeilao.Titulo)"/>
                    </div>

                    <div class="form-group mb-4">
                        <label for="ano" class="block text-sm font-semibold text-gray-600">Year</label>
                            <InputNumber class="text-white w-full px-4 py-2 border rounded-md focus:outline-none
                        focus:border-blue-500 form-box" @bind-Value="veiculoLeilao.Ano" />
                            <ValidationMessage For="@(()=>veiculoLeilao.Ano)"/>
                    </div>

                    <div class="form-group mb-4">
                        <label for="modelo" class="block text-sm font-semibold text-gray-600">Brand</label>
                            <InputText class="text-white w-full px-4 py-2 border rounded-md focus:outline-none
                        focus:border-blue-500 form-box" @bind-Value="veiculoLeilao.Marca" />
                            <ValidationMessage For="@(()=>veiculoLeilao.Marca)"/>
                    </div>

                    <div class="form-group mb-4">
                        <label for="modelo" class="block text-sm font-semibold text-gray-600">Model</label>
                            <InputText class="text-white w-full px-4 py-2 border rounded-md focus:outline-none
                        focus:border-blue-500 form-box" @bind-Value="veiculoLeilao.Modelo" />
                            <ValidationMessage For="@(()=>veiculoLeilao.Modelo)"/>
                    </div>

                    <div class="form-group mb-4">
                        <label for="descricao" class="block text-sm font-semibold text-gray-600">Description</label>
                        <textarea class="text-white w-full px-4 py-2 border rounded-md
                        focus:outline-none focus:border-blue-500
                        form-box" placeholder="Leave a message here" required>
                            <InputText class="text-white w-full px-4 py-2 border rounded-md focus:outline-none
                        focus:border-blue-500 form-box" @bind-Value="veiculoLeilao.Descricao" />
                            <ValidationMessage For="@(()=>veiculoLeilao.Descricao)"/>
                        </textarea>
                    </div>

                </div>

                <div  class="dark:bg-gray-800 mb-8 p-4 px-4">

                    <div class="text-xl underline mb-4">Other Details</div>

                    <!--Combustivel-->
                    <div class="form-group mb-4">
                        <label for="modelo" class="block text-sm font-semibold text-gray-600">Fuel</label>
                            <InputText class="text-white w-full px-4 py-2 border rounded-md focus:outline-none
                        focus:border-blue-500 form-box" @bind-Value="veiculoLeilao.Combustivel" />
                            <ValidationMessage For="@(()=>veiculoLeilao.Combustivel)"/>
                    </div>

                    <!--Cor-->
                    <div class="form-group mb-4">
                        <label for="modelo" class="block text-sm font-semibold text-gray-600">Color</label>
                            <InputText class="text-white w-full px-4 py-2 border rounded-md focus:outline-none
                        focus:border-blue-500 form-box" @bind-Value="veiculoLeilao.Cor" />
                            <ValidationMessage For="@(()=>veiculoLeilao.Cor)"/>
                    </div>
                    <!--Portas-->
                    <div class="form-group mb-4">
                        <label for="modelo" class="block text-sm font-semibold text-gray-600">Doors</label>
                            <InputNumber class="text-white w-full px-4 py-2 border rounded-md focus:outline-none
                        focus:border-blue-500 form-box" @bind-Value="veiculoLeilao.Portas" />
                            <ValidationMessage For="@(()=>veiculoLeilao.Portas)"/>
                    </div>
                    <!--Lugares-->
                    <div class="form-group mb-4">
                        <label for="modelo" class="block text-sm font-semibold text-gray-600">Seats</label>
                            <InputNumber class="text-white w-full px-4 py-2 border rounded-md focus:outline-none
                        focus:border-blue-500 form-box" @bind-Value="veiculoLeilao.Lugares" />
                            <ValidationMessage For="@(()=>veiculoLeilao.Lugares)"/>
                    </div>

                    <!--Cilindrada-->
                    <div class="form-group mb-4">
                        <label for="modelo" class="block text-sm font-semibold text-gray-600">Engine Capacity</label>
                            <InputNumber class="text-white w-full px-4 py-2 border rounded-md focus:outline-none
                        focus:border-blue-500 form-box" @bind-Value="veiculoLeilao.Cilindrada" />
                            <ValidationMessage For="@(()=>veiculoLeilao.Cilindrada)"/>
                    </div>

                    <!--Potencia-->
                    <div class="form-group mb-4">
                        <label for="modelo" class="block text-sm font-semibold text-gray-600">Power</label>
                            <InputNumber class="text-white w-full px-4 py-2 border rounded-md focus:outline-none
                        focus:border-blue-500 form-box" @bind-Value="veiculoLeilao.Potencia" />
                            <ValidationMessage For="@(()=>veiculoLeilao.Potencia)"/>
                    </div>
                
                    <!--Mileage-->
                    <div class="form-group mb-4">
                        <label for="modelo" class="block text-sm font-semibold text-gray-600">Mileage</label>
                            <InputNumber class="text-white w-full px-4 py-2 border rounded-md focus:outline-none
                        focus:border-blue-500 form-box" @bind-Value="veiculoLeilao.Kilometragem" />
                            <ValidationMessage For="@(()=>veiculoLeilao.Kilometragem)"/>
                    </div>
                </div>
                
                <div  class="dark:bg-gray-800 mb-8 p-4 px-4">

                    <div class="text-xl underline mb-4">Auction Details</div>

                    <!--Start Price-->
                    <div class="form-group mb-4">
                        <label for="modelo" class="block text-sm font-semibold text-gray-600">Start Price</label>
                        <InputNumber class="text-white w-full px-4 py-2 border rounded-md focus:outline-none
                                        focus:border-blue-500 form-box" @bind-Value="veiculoLeilao.PrecoStart" />
                        <ValidationMessage For="@(()=>veiculoLeilao.PrecoStart)"/>
                    </div>

                    <!--Minimum Bid-->
                    <div class="form-group mb-4">
                        <label for="modelo" class="block text-sm font-semibold text-gray-600">Minimum Bid</label>
                            <InputNumber class="text-white w-full px-4 py-2 border rounded-md focus:outline-none
                        focus:border-blue-500 form-box" @bind-Value="veiculoLeilao.BidMinima" />
                            <ValidationMessage For="@(()=>veiculoLeilao.BidMinima)"/>
                    </div>
                    <!--End Date-->
                    <div class="form-group mb-4">
                        <label for="endDate" class="block text-sm font-medium text-gray-600">End Date</label>
                        <InputDate id="endDate" class="text-white w-full px-4 py-2 border rounded-md focus:outline-none
                        focus:border-blue-500 form-box" @bind-Value="@endDate"></InputDate>
                    </div>
                </div>
                    

                <div  class="dark:bg-gray-800 mb-8 p-4 px-4">

                    <div class="text-xl underline mb-4">Images & Videos</div>
                    <div>
                        <input type="file" accept="image/*,video/*" multiple @onchange="HandleFiles">
                    </div>
                </div>
            </div>

            <div class="flex item-center justify-center">
                <button type="submit" class="mb-5 bg-blue-500 text-blue
                            px-8 p-2 rounded-md hover:bg-blue-600 focus:outline-none
                            focus:border-blue-700 focus:ring focus:ring-blue-200
                            login-button mb-8 text-3xl font-bold">
                    Start Auction
                </button>
            </div>

        </div>

    </EditForm>

</div>


@code {
    
    private string message = string.Empty;
    private DateTime endDate { get; set; } = DateTime.Now;
    Models.VeiculoLeilao veiculoLeilao = new();

    private void Criar()
    {
        
        if (leilaoController.Create(veiculoLeilao))
        {
            message = "Adicionado com Sucesso!";
            veiculoLeilao = new();
        }
        else
        {
            message = "Leilão não foi adicionado!";
        }
    }

    private async Task HandleFiles(ChangeEventArgs e)
    {
        var files = e.Value as IEnumerable<IBrowserFile>;
        foreach (var file in files)
        {
            // Process each file here
            // For example, you can read the file content and upload it to a server
        }
    }
}
