@page "/detalhesleilao/{leilaoId:int}"
@using Controllers
@using Authentication
@using Models
@inject ILeilaoController leilaoController
@inject IUserController userController
@inject NavigationManager navigationManager
@inject UserAccountService userAccountService
@inject AuthenticationStateProvider authStateProvider
@inject ILicitacaoController licitacaoController

<PageTitle>@leilao.Titulo</PageTitle>

@if (leilao == null)
{
    <div class="flex items-center justify-center h-screen">
        <p class="text-white text-4xl text-center font-bold underline decoration-pink-500/30">Uhhh... The auction you're looking for does not exist.</p>
    </div>
}
else
{
    <div class="text-white text-3xl font-bold p-4 px-16">
        @leilao.Titulo
    </div>

    <div class="text-white">
        Imagens
    </div>

    <div class="grid grid-cols-2 text-white flex h-screen items-center justify-center">
    
        <div style="width: 30rem; height: 20rem;" class="mx-auto dark:bg-gray-800 px-4 p-4">
            <div  class="flex items-center justify-center text-center">
               
            </div>

            <div class="text-4xl capitalize mb-8">
                <a>current bid: €@leilao.ValorAtual</a>
            </div>

            <div class="text-3xl capitalize mb-8">
                Until: @leilao.FinalLeilao
            </div>



            <div class="text-xs mb-8">
                Minimum Bid: €@leilao.BidMinima
            </div>

            <div class="flex items-center justify-center text-center">
                <button class="text-3xl mb-5  bg-blue-500 text-blue
                    px-8 py-4 rounded-md hover:bg-blue-600 focus:outline-none
                    focus:border-blue-700 focus:ring focus:ring-blue-200
                    login-button mb-8" @onclick="UserPodeLicitar">
                        BID
                </button>
            </div>

        </div>
    
        <div class="mx-auto dark:bg-gray-800">
            <div style="width: 30rem; height: 20rem;" class="flex items-center justify-center text-center">
                infos
            </div>
        </div>

    </div>

    <div class="text-white">
        <div class="card-body">
            <p><strong>Marca:</strong> @leilao.Marca</p>
            <p><strong>Modelo:</strong> @leilao.Modelo</p>
            <p><strong>Ano:</strong> @leilao.Ano</p>
            <p><strong>Descrição:</strong> @leilao.Descricao</p>
            <p><strong>Combustível:</strong> @leilao.Combustivel</p>
            <p><strong>Cor:</strong> @leilao.Cor</p>
            <p><strong>Kilometragem:</strong> @leilao.Kilometragem</p>
            <p><strong>Cilindrada:</strong> @leilao.Cilindrada</p>
            <p><strong>Potência:</strong> @leilao.Potencia</p>
            <p><strong>Número de Portas:</strong> @leilao.Portas</p>
            <p><strong>Preço Inicial:</strong> @leilao.PrecoStart€</p>
            <p><strong>Licitação Mínima:</strong> @leilao.BidMinima€</p>
            <p><strong>LICITAÇÃO ATUAL:</strong> @leilao.ValorAtual€</p>

            <div class="my-2">
                <button class="btn btn-primary" @onclick="UserPodeLicitar">Licitar</button>
            </div>

            @if (mostrarInputLicitar)
            {
                <AuthorizeView>
                    <Authorized>
                        <div class="form-group">
                            <label for="valorLicitar">Valor da Licitação:</label>
                            <InputNumber class="form-control" id="valorLicitar" @bind-Value="valorLicitar" />
                            <button class="btn btn-success" @onclick="Licitar">Confirmar Licitação</button>
                            @mensagem
                        </div>
                    </Authorized>
                </AuthorizeView>
            }
        </div>
    </div>
}

@code {
    [Parameter]
    public int? LeilaoId { get; set; }
    private VeiculoLeilao leilao;
    private string mensagem { get; set; }
    private string username { get; set; }
    private CustomAuthenticationStateProvider customAuthStateProvider { get; set; }
    private bool mostrarInputLicitar = false;
    private decimal valorLicitar;

    private async Task InitializeAsync()
    {
        customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
        username = (await customAuthStateProvider.GetAuthenticationStateAsync()).User.Identity.Name;
    }

    protected override void OnInitialized()
    {
        if (LeilaoId.HasValue)
        {
            leilao = leilaoController.GetByID(LeilaoId.Value);
        }
        else
        {
            navigationManager.NavigateTo("/listarleiloes");
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await InitializeAsync();
    }

    private async void UserPodeLicitar()
    {
        var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
        if (!((await customAuthStateProvider.GetAuthenticationStateAsync()).User.Identity.IsAuthenticated))
        {
            navigationManager.NavigateTo("/login");
            return;
        }

        var username = (await customAuthStateProvider.GetAuthenticationStateAsync()).User.Identity.Name;
        if (userController.HasMetodoPagamento(username) && userController.HasDetalhesEntrega(username))
        {
            ShowInputLicitar();

        }
        else
        {
            navigationManager.NavigateTo("/perfil");
        }
    }
    private void ShowInputLicitar()
    {

        mostrarInputLicitar = true;
        valorLicitar = leilao.ValorAtual + leilao.BidMinima;

    }

    private void Licitar()
    {
        Licitacao licitacao;
        if((leilao.ValorAtual + leilao.BidMinima) >= valorLicitar)
        {
            mensagem = "O valor inserido é demasiado baixo!";
        }
        else
        {
            licitacao = new Licitacao(valorLicitar, username, leilao.Id);
            licitacaoController.Create(licitacao);
            leilao.ValorAtual = licitacao.Valor;
            leilao.IdLicitacaoLider = licitacao.Id;
            leilaoController.Update(leilao);
            mensagem = "";
        }
    }
}
