@page "/criarleilao"
@inject NavigationManager NavigationManager
@using Controllers
@using Models
@inject ILeilaoController leilaoController
@inject IVeiculoController veiculoController

<PageTitle>Detalhes do Veículo</PageTitle>


<h3>Detalhes do Veículo</h3>

<div class="row">
    <div class="col-md-6">
        <EditForm Model="@leilao" OnValidSubmit="Criar">
            <DataAnnotationsValidator/>

            <div class="form-group">
                <label for="id">ID:</label>
                <InputNumber class="form-control" @bind-Value="leilao.Id" />
                <ValidationMessage For="@(()=>leilao.Id)"/>
            </div>

            <div class="form-group">
                <label for="titulo">Título:</label>
                <InputText class="form-control" @bind-Value="leilao.Titulo"/>
                <ValidationMessage For="@(()=>leilao.Titulo)"/>
            </div>

            <div class="form-group">
                <label for="ano">Ano:</label>
                <InputNumber class="form-control" @bind-Value="veiculo.Ano" />
                <ValidationMessage For="@(()=>veiculo.Ano)" />
            </div>

            <div class="form-group">
                <label for="marca">Marca:</label>
                <InputNumber class="form-control" @bind-Value="veiculo.IdMarca" />
                <ValidationMessage For="@(()=>veiculo.IdMarca)" />
            </div>

            <div class="form-group">
                <label for="modelo">Modelo:</label>
                <InputNumber class="form-control" @bind-Value="veiculo.IdModelo" />
                <ValidationMessage For="@(()=>veiculo.IdModelo)" />
            </div>

            <div class="form-group">
                <label for="descricao">Descricao:</label>
                <InputText class="form-control" @bind-Value="leilao.Descricao" />
                <ValidationMessage For="@(()=>leilao.Descricao)" />
            </div>

            <div class="form-group">
                <label for="combustivel">Combustível:</label>
                <InputNumber class="form-control" @bind-Value="veiculo.Combustivel" />
                <ValidationMessage For="@(()=>veiculo.Combustivel)" />
            </div>

            <div class="form-group">
                <label for="cor">Cor:</label>
                <InputText class="form-control" @bind-Value="veiculo.CorExterior" />
                <ValidationMessage For="@(()=>veiculo.CorExterior)" />
            </div>
            <div class="form-group">
                <label for="kilometragem">Kilometragem:</label>
                <InputNumber class="form-control" @bind-Value="veiculo.Quilometragem" />
                <ValidationMessage For="@(()=>veiculo.Quilometragem)" />
            </div>

            <div class="form-group">
                <label for="cilindrada">Cilindrada:</label>
                <InputNumber class="form-control" @bind-Value="veiculo.Cilindrada" />
                <ValidationMessage For="@(()=>veiculo.Cilindrada)" />
            </div>

            <div class="form-group">
                <label for="potencia">Potência:</label>
                <InputNumber class="form-control" @bind-Value="veiculo.Potencia" />
                <ValidationMessage For="@(()=>veiculo.Potencia)" />
            </div>

            <div class="form-group">
                <label for="portas">Número de Portas:</label>
                <InputNumber class="form-control" @bind-Value="veiculo.NumPortas" />
                <ValidationMessage For="@(()=>veiculo.NumPortas)" />
            </div>

            <div class="form-group">
                <label for="precoStart">Preço Inicial:</label>
                <InputNumber class="form-control" @bind-Value="leilao.PrecoStart" />
                <ValidationMessage For="@(()=>leilao.PrecoStart)" />
            </div>

            <div class="form-group">
                <label for="bidMinima">Licitação Mínima:</label>
                <InputNumber class="form-control" @bind-Value="leilao.BidMinima" />
                <ValidationMessage For="@(()=>leilao.BidMinima)" />
            </div>

            <div class="form-group">
                <label for="finalLeilao">Licitação Mínima:</label>
                <InputDate class="form-control" @bind-Value="leilao.DataFinal" />
                <ValidationMessage For="@(()=>leilao.DataFinal)" />
            </div>

            <div class="my-2">
                @message
            </div>

            <div class="my-2">
                <button type="submit" class="btn btn-primary">Começar Leilão</button>
            </div>

        </EditForm>
    </div>
</div>




@code {
    [Parameter]
    public int LeilaoID { get; set; }
    private Leilao leilao = new();
    private Veiculo veiculo = new();
    private string message = String.Empty;

    private void Criar()
    {
        Console.WriteLine($"Novo veiculo/leilao: Marca do veiculo: {veiculo.IdMarca}, Modelo do veiculo: {veiculo.IdModelo}");
        if (veiculoController.Create(veiculo))
        {
            Console.WriteLine("Returned: {true}");
            leilao.IdVeiculo = veiculo.Id;
            if (leilaoController.Create(leilao))
            {
                message = "Adicionado com Sucesso!";
                //veiculo = new();
                //leilao = new();
            }
        }
        else
        {
            message = "Leilão não foi adicionado!";
        }
    }
}
