@using Microsoft.AspNetCore.Components.Forms
@page "/criarleilao"
@inject NavigationManager NavigationManager
@using Controllers
@using Models
@using Authentication
@inject ILeilaoController leilaoController
@inject IVeiculoController veiculoController
@inject AuthenticationStateProvider authStateProvider
@attribute [Authorize(Roles = "Administrator")]

<style>
    .form-box {
        background-color: #12232e;
    }
</style>

<PageTitle>Detalhes do Veículo</PageTitle>

<div class="text-white">
    <div class="font-bold dark:bg-gray-800 p-4 px-16 mb-8">
        <div class="text-4xl gap-4">New Auction</div>
    </div>

    <EditForm Model="@leilao" OnValidSubmit="Criar">

        <div class="items-center justify-center p-8">
            <div class="grid grid-cols-2 min-h-screen space-x-8 inline-block mb-8">

                <div class="dark:bg-gray-800 mb-8 p-4 px-4">

                    <div class="text-xl underline mb-4">Car Details</div>   

                    <div class="form-group mb-4">
                        <label for="titulo" class="block text-sm font-semibold text-gray-600">Title</label>
                        <InputText class="text-white w-full px-4 py-2 border rounded-md focus:outline-none
                        focus:border-blue-500 form-box" @bind-Value="leilao.Titulo" />
                        <ValidationMessage For="@(()=>leilao.Titulo)" />
                    </div>

                    <div class="form-group mb-4">
                        <label for="ano" class="block text-sm font-semibold text-gray-600">Year</label>
                        <InputNumber class="text-white w-full px-4 py-2 border rounded-md focus:outline-none
                        focus:border-blue-500 form-box" @bind-Value="veiculo.Ano" />
                        <ValidationMessage For="@(()=>veiculo.Ano)" />
                    </div>

                    <div class="form-group mb-4">
                        <label for="modelo" class="block text-sm font-semibold text-gray-600">Brand</label>
                        <InputNumber class="text-white w-full px-4 py-2 border rounded-md focus:outline-none
                        focus:border-blue-500 form-box" @bind-Value="veiculo.IdMarca" />
                        <ValidationMessage For="@(()=>veiculo.IdMarca)" />
                    </div>

                    <div class="form-group mb-4">
                        <label for="modelo" class="block text-sm font-semibold text-gray-600">Model</label>
                        <InputNumber class="text-white w-full px-4 py-2 border rounded-md focus:outline-none
                        focus:border-blue-500 form-box" @bind-Value="veiculo.IdModelo" />
                        <ValidationMessage For="@(()=>veiculo.IdModelo)" />
                    </div>

                    <div class="form-group mb-4">
                        <label for="descricao" class="block text-sm font-semibold text-gray-600">Description</label>
                        <textarea class="text-white w-full px-4 py-2 border rounded-md
                        focus:outline-none focus:border-blue-500
                        form-box" placeholder="Leave a message here" required>
                        <InputText class="text-white w-full px-4 py-2 border rounded-md focus:outline-none
                        focus:border-blue-500 form-box" @bind-Value="leilao.Descricao" />
                        <ValidationMessage For="@(()=>leilao.Descricao)" />
                        </textarea>
                    </div>

                </div>

                <div class="dark:bg-gray-800 mb-8 p-4 px-4">

                    <div class="text-xl underline mb-4">Other Details</div>

                    <!--Combustivel-->
                    <div class="form-group mb-4">
                        <label for="modelo" class="block text-sm font-semibold text-gray-600">Fuel</label>
                        <InputNumber class="text-white w-full px-4 py-2 border rounded-md focus:outline-none
                        focus:border-blue-500 form-box" @bind-Value="veiculo.TipoMotor" />
                        <ValidationMessage For="@(()=>veiculo.TipoMotor)" />
                    </div>

                    <!--Cor-->
                    <div class="form-group mb-4">
                        <label for="modelo" class="block text-sm font-semibold text-gray-600">Color</label>
                        <InputText class="text-white w-full px-4 py-2 border rounded-md focus:outline-none
                        focus:border-blue-500 form-box" @bind-Value="veiculo.CorExterior" />
                        <ValidationMessage For="@(()=>veiculo.CorExterior)" />
                    </div>
                    <!--Portas-->
                    <div class="form-group mb-4">
                        <label for="modelo" class="block text-sm font-semibold text-gray-600">Doors</label>
                        <InputNumber class="text-white w-full px-4 py-2 border rounded-md focus:outline-none
                        focus:border-blue-500 form-box" @bind-Value="veiculo.NumPortas" />
                        <ValidationMessage For="@(()=>veiculo.NumPortas)" />
                    </div>
                    <!--Lugares-->
                    <div class="form-group mb-4">
                        <label for="modelo" class="block text-sm font-semibold text-gray-600">Seats</label>
                        <InputNumber class="text-white w-full px-4 py-2 border rounded-md focus:outline-none
                        focus:border-blue-500 form-box" @bind-Value="veiculo.Lugares" />
                        <ValidationMessage For="@(()=>veiculo.Lugares)" />
                    </div>

                    <!--Cilindrada-->
                    <div class="form-group mb-4">
                        <label for="modelo" class="block text-sm font-semibold text-gray-600">Engine Capacity</label>
                        <InputNumber class="text-white w-full px-4 py-2 border rounded-md focus:outline-none
                        focus:border-blue-500 form-box" @bind-Value="veiculo.Cilindrada" />
                        <ValidationMessage For="@(()=>veiculo.Cilindrada)" />
                    </div>

                    <!--Potencia-->
                    <div class="form-group mb-4">
                        <label for="modelo" class="block text-sm font-semibold text-gray-600">Power</label>
                        <InputNumber class="text-white w-full px-4 py-2 border rounded-md focus:outline-none
                        focus:border-blue-500 form-box" @bind-Value="veiculo.Potencia" />
                        <ValidationMessage For="@(()=>veiculo.Potencia)" />
                    </div>

                    <!--Mileage-->
                    <div class="form-group mb-4">
                        <label for="modelo" class="block text-sm font-semibold text-gray-600">Mileage</label>
                        <InputNumber class="text-white w-full px-4 py-2 border rounded-md focus:outline-none
                        focus:border-blue-500 form-box" @bind-Value="veiculo.Quilometragem" />
                        <ValidationMessage For="@(()=>veiculo.Quilometragem)" />
                    </div>
                </div>

                <div class="dark:bg-gray-800 mb-8 p-4 px-4">

                    <div class="text-xl underline mb-4">Auction Details</div>

                    <!--Start Price-->
                    <div class="form-group mb-4">
                        <label for="modelo" class="block text-sm font-semibold text-gray-600">Start Price</label>
                        <InputNumber class="text-white w-full px-4 py-2 border rounded-md focus:outline-none
                                        focus:border-blue-500 form-box" @bind-Value="leilao.ValorInicial" />
                        <ValidationMessage For="@(()=>leilao.ValorInicial)" />
                    </div>

                    <!--Minimum Bid-->
                    <div class="form-group mb-4">
                        <label for="modelo" class="block text-sm font-semibold text-gray-600">Minimum Bid</label>
                        <InputNumber class="text-white w-full px-4 py-2 border rounded-md focus:outline-none
                        focus:border-blue-500 form-box" @bind-Value="leilao.AumentoMinimo" />
                        <ValidationMessage For="@(()=>leilao.AumentoMinimo)" />
                    </div>
                    <!--End Date-->
                    <div class="form-group mb-4">
                        <label for="endDate" class="block text-sm font-medium text-gray-600">End Date</label>
                        <InputDate Type="InputDateType.DateTimeLocal" id="endDate" class="text-white w-full px-4 py-2 border rounded-md focus:outline-none
                        focus:border-blue-500 form-box" @bind-Value="leilao.DataFinal"></InputDate>
                    </div>
                </div>


                <div class="dark:bg-gray-800 mb-8 p-4 px-4">

                    <div class="text-xl underline mb-4">Images & Videos</div>
                    <div>
                        <InputFile accept="image/*,video/*" multiple maxFileSize="50000000" OnChange="HandleFiles" />
                    </div>
                </div>
            </div>

            <div class="flex item-center justify-center">
                <button type="submit" class="mb-5 bg-blue-500 text-blue
                            px-8 p-2 rounded-md hover:bg-blue-600 focus:outline-none
                            focus:border-blue-700 focus:ring focus:ring-blue-200
                            login-button mb-8 text-3xl font-bold">
                    Start Auction
                </button>
            </div>

        </div>

    </EditForm>

</div>


@code {
    [Parameter]
    public int LeilaoID { get; set; }
    private Leilao leilao = new();
    private Veiculo veiculo = new();
    private string message = String.Empty;
    private string username { get; set; }
    private CustomAuthenticationStateProvider customAuthStateProvider { get; set; }
    private TaskCompletionSource<bool> auctionStartedTask = new TaskCompletionSource<bool>();

    private async Task InitializeAsync()
    {
        customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
        username = (await customAuthStateProvider.GetAuthenticationStateAsync()).User.Identity.Name;
    }

    protected override async Task OnInitializedAsync()
    {
        await InitializeAsync();
    }

    private void Criar()
    {
        if (veiculoController.Create(veiculo))
        {
            leilao.IdVeiculo = veiculo.Id;
            leilao.UsernameAdmin = username;
            leilao.Fotografias = "";
            leilao.VideoLink = "";
            leilao.IdLicitacaoAtual = -1;
            leilao.Descricao = "";

            if (leilaoController.Create(leilao))
            {
                message = "Adicionado com Sucesso!";
            }
        }
        else
        {
            message = "Leilão não foi adicionado!";
        }
        auctionStartedTask.SetResult(true);
    }

    private async Task HandleFiles(InputFileChangeEventArgs e)
    {
        try
        {
            await auctionStartedTask.Task;

            var files = e.GetMultipleFiles();
            Console.WriteLine("HandleFiles");
            Console.WriteLine(files);
            Console.WriteLine(files.Count());

            int imageCounter = 0;

            foreach (var file in files)
            {
                string directoryPath = $"Images/{leilao.Id}";
                if (!Directory.Exists(directoryPath))
                {
                    Directory.CreateDirectory(directoryPath);
                }
                Console.WriteLine("Created directory " + directoryPath);

                string fileName = $"{imageCounter}{Path.GetExtension(file.Name)}";
                string filePath = Path.Combine(directoryPath, fileName);

                using (var fileStream = new FileStream(filePath, FileMode.Create))
                {
                    await file.OpenReadStream().CopyToAsync(fileStream);
                }

                leilao.Fotografias += $"{fileName};";
                leilaoController.Update(leilao);

                imageCounter++;
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine("EXCECAAAAOOOO: " + ex.Message);
        }
        leilao = new();
        veiculo = new();
    }
}
