@page "/listarleiloes"
@inject NavigationManager NavigationManager
@using Controllers
@inject ILeilaoController leilaoController
@inject IMarcaController marcaController
@inject IModeloController modeloController
@inject IVeiculoController veiculoController
@inject ILicitacaoController licitacaoController

<PageTitle>Lista de Leilões</PageTitle>

<h3>Lista de Leilões</h3>

<div class="row">
    <div class="col-md-12">
        <ul class="list-group">
            @foreach (var leilao in leilaoController.GetAll())
            {
                <li class="list-group-item">
                    <div class="d-flex justify-content-between">
                        <div>
                            <strong>@leilao.Titulo</strong> - @marcaController.GetById(veiculoController.GetById(leilao.IdVeiculo).IdMarca).Nome @modeloController.GetById(veiculoController.GetById(leilao.IdVeiculo).IdModelo).Nome
                            (@veiculoController.GetById(leilao.IdVeiculo).Ano) -
                            @(licitacaoController.GetByID(leilao.IdLicitacaoAtual) == null ? leilao.PrecoStart : licitacaoController.GetByID(leilao.IdLicitacaoAtual).Valor)€ - <strong>Termina: (@leilao.DataFinal)</strong>
                        </div>
                        <div>
                            <button class="btn btn-primary" @onclick="(() => VerLeilao(leilao.Id))">Ver</button>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>

@code {
    private void VerLeilao(int leilaoId)
    {
        NavigationManager.NavigateTo($"/detalhesleilao/{leilaoId}");
    }
}

